@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
main {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

* {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.node-label {
  background-color: rgb(230, 230, 230);
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 0.7rem;
  max-width: 280px;
  color: rgb(50, 50, 50);
}

.node-label .title {
  font-weight: 900;
  font-size: 0.85rem;
  margin-bottom: 0.1rem;
}

/* connect button styles */
/* #__next
  > div
  > main
  > div
  > div.absolute.bottom-0.left-0.right-0.z-\[1999\]
  > div
  > div.flex.w-full.h-full.gap-6
  > div.flex.h-full.items-center.font-thin
  > div {
  padding: 0;
  height: fit-content;
} */
/* .connect-btn div {
  display: flex;
  justify-content: center;
  min-width: 130px;
}
.connect-btn button {
  background-color: transparent;
  padding: 7px 32px;
  height: fit-content;
  font: inherit;
  font-weight: thin;
  border-radius: 8px;
  min-width: 130px;
  white-space: nowrap;
  text-align: center;
  background-color: aqua;
  text-align: center;
} */
.connect-btn button {
  font: inherit !important;
  font-weight: 500 !important;
}
